
body {
  background-color: #2f3061;
  margin: 0;
  background-image: url("images/common.jpeg");
  background-size: cover;
}

header {
  background-color: burlywood;
  margin-bottom: 40px;
  border: 1em black;
}

header h1 {
  color: black;
  text-align: center;
  margin: 0;
  padding-top: 10px;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  padding-left: 0;
  list-style: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px 0 0;
}

header nav ul li:last-child a {
  margin-right: 0;
}

a:link { color: blue }
a:visited { color: black }
a:hover { color: red }
a:active { color: pink }

/* buttons for links */

.btn {
  display: inline-block;
  font-family: arial, sans-serif;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  margin: 10px;
  padding: 6px 12px;
  border-radius: 6px;
}

.btn-primary {
  color: #fff;
  background-color: white;
  border-color: #2e6da4;
}

ol {
  display: flex;
  list-style: none;
  padding-left: 0;
  justify-content: center;
}

/* nav syntax to support mobile */
@media all and (min-width: 800px){
  header {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }

  header nav {
    margin-top: 8px;
  }

  header nav ul li a:hover {
    color: #bdbdbd;
  }
}

h2 h3 {
  text-align: center;
  padding: 20px 0;
  margin: 0 0 30px 10px;
  color: white;
  justify-content: center;
  font-size: 25;
}

h2 {
  text-align: center;
  margin: auto;
  padding: 5em 5em 5em 5em;
}

h4 {
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

section {
  text-align: center;
  margin-bottom: 100px;
  justify-content: center;
}

p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  color: black;
  text-align: center;
  margin: 10% 0 10% 0;
}

ul {
  text-align: center;
  color: black;
  list-style: none;
  font-size: 20px;
}

hr {
  height: 20px;
  background-color: black;
  border: #f26df9;
  margin: 10%;
}

img {
  margin: auto;
  width: 100%;
  padding: 20px 20px 0 0;
  border-radius: 20em;
  border: 20em black;
}

.group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 100px;
}

/* Groups & Items  (Desktop) */

@media all and (min-width: 800px) {

  section, h1 {
    padding: 0 10%;
  }

  .group {
    flex-direction: row;
  }
}

.item {
  flex: 1;
  margin: auto;
}

.bg-callout {   
   padding: 60px 0 60px 0;
   background-image: url("images/common1.jpeg");

}

footer {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15px;
  background-color: brown;
  text-align: center;
  color: white;
  margin: auto;
}

footer p {
  text-align: center;
  margin: auto;
  padding: 2em 2em 2em 2em;
}


