header {
  background-color: #000;
  margin-bottom: 40px;
}

header h1 {
  color: #fff;
  text-align: center;
  margin: 0;
  padding-top: 20px;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  padding-left: 0;
  list-style: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px 0 0;
}

header nav ul li:last-child a {
  margin-right: 0;
}
/* nav syntax to support mobile */
@media all and (min-width: 600px){
  header {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }

  header h1 {
    margin: 14px 0;
    padding-top: 0;
  }

  header nav {
    margin-top: 8px;
  }

  header nav ul li a:hover {
    color: #bdbdbd;
  }
}

main {
  padding: 20px 0;
}

section {
  margin-bottom: 100px;
}

h1 {
  margin: 0 0 30px 10px;
}

h2 {
  text-align: center;
  margin: 0 10px;
  border-bottom: 1px solid gray;
}

h3 {
  text-align: center;
  margin: 12px 0;
  border-bottom: 1px solid lightgray;
}

img {
  width: 100%
}

.group {
display: flex;
flex-direction: column;
justify-content: space-between;
margin: 100px;
}

/* Groups & Items  (Desktop) */

@media all and (min-width: 800px) {

  section, h1 {
    padding: 0 10%;
  }

  .group {
    flex-direction: row;
  }
}



.item {
  flex: 1;
  align-content: auto;
  margin: 10%;
}

.item-double {
  flex-grow: 2;
}

section.bg-callout {   
   padding: 60px 0;
   background-color: lightgray;
   background-image: url("images/ocean.jpeg");
}

p {
  font-size: 16px;
}

footer {
  text-align: center;
}


